language: java

jdk:
  - oraclejdk8
#  - oraclejdk7
#  - openjdk7

stages: 
  - build
  - test
  - deploy


maven_build:
  - stage: build
    script:
     - mvn compile
     - mvn test
     - mvn package


