language: java

jdk:
  - oraclejdk8
#  - oraclejdk7
#  - openjdk7

before_install:
  - sudo apt-get update
  
cache:
  directories:
  - $HOME/.m2

stages: 
  - build
  - test
  - deploy


jobs:
  include:
    - stage: build
      script:
        - mvn compile
        - mvn test
        - mvn package
    - stage: test
      script:
        - mvn verify
    - stage: deploy

branches:
  only:
    - master

after_success:
  echo "Build stages completed"
