language: java

jdk:
  - oraclejdk8
#  - oraclejdk7
#  - openjdk7

stages: 
  - build
  - test
  - deploy

jobs:
  include:
    - stage: build
      script:
        - mvn compile
        - mvn test
        - mvn package
    - stage: test
      script:
        - mvn verify
    - stage: deploy
    if: branch = master
	
